transformers>=4.57.0
accelerate 

numpy
soundfile 
librosa
huggingface_hub
webrtcvad
pyaudio
openai

# For Kokoro TTS, espeak-ng is also required. Please install it using your system's package manager.
# For example: sudo apt-get install espeak-ng
kokoro>=0.9.4

# qwen-asr
# qwen-tts

# qwen-asr[vllm]
# vllm>=0.9.0

# Audio I/O and Processing
